#editor { 
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
}

.compile-button {
    position: fixed;
    top: 90vh;
    left: 90vw;
}

.compile-output {
    position: fixed;
    background-color: #272822;
    width: 100%;
    z-index: 5;
    top: 90vh;
    height: 10vh;
    color: #f92672;
    font-size: 16px;
}